*{
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.speech{
  width:50px;

}

.group{
  margin: 18px 0;
}

textarea{
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  border: 1px solid rgb(228, 20, 20);
  outline: none;
  border-radius: 3px;
}

button{
  width: 100%;
  display: block;
  padding: 10px 102px ;
  color: rgb(10, 10, 10);
  font-weight: bold;
  cursor: pointer;
  outline: none;
  background-color: rgb(227, 240, 219);

}

h2{
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}
